* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;  
    list-style: none; 
}
body{
    background: #E5E5E5;
}
.header-nav{
    background: #322E41;    
}
.nav {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
.list{
    display: flex;         
}
.link{
    display: inline-block;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 19px;
    font-size: 16px;
    padding: 23px 14px; 
    transition: 0.5s;   
}

.link:hover {
    background: #FFFFFF;
    color: #D47300;
    
}
.header-title{
    color:  #FFFFFF;
    font-family: Roboto;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 15px;
    text-align: center;
    
}
.header-description{
    color:  #FFFFFF;
    line-height: 21px;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: normal;
    text-align: center;
    align-items: center;
}
.header-span{
    font-weight: bold;
}
.header{
    background: url('images/header-bg.png');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}
.main{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: -40px;
    /* background: #E5E5E5; */
}
.main-cards {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto; 
    display: flex;
}
.main-left{
    background: #FFFFFF;
    border-radius: 6px;
    width: 540px;
    padding: 15px;
    margin-bottom: 30px;
    
}
.left-title{
    color:  #2C2A2A;
    line-height:  25,78px;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: bold;    
    margin-top: 20px;
    margin-bottom: 10px;
}
.left-description{
    color: #9B9B9B;
    line-height: 18px;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
}
.main-card{
    background: #FFFFFF;
    border-radius: 6px;
    width: 255px;
    padding: 16px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;    
}
.right-title{
    font-family: 'Roboto';
    font-size: 22px;
    line-height: 16px;
    font-weight: bold;
    color: #2C2A2A;
    margin: 12px 0;
}
.right-description{
    color: #9B9B9B;
    line-height: 16px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: normal;
}
.main-right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 30px;
    justify-content: space-between;
}
.footer{
    background: #322E41;
    padding: 37px 0 57px 0;

}
.footer-info{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
}
.footer-form{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.form-name{
    color: #9B9B9B;
    line-height: 18px;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: normal; 
    border-radius: 6px;   
    padding: 8px 0 8px 8px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}
.form-messege{
    color: #9B9B9B;
    line-height: 18px;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: normal;
    border-radius: 6px;  
    height: 86px;
    padding-top: 8px;
    padding-left: 8px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    resize: none;
}
.form-btn{
    background: #544294;
    color: #FFFFFF;
    border-radius: 6px;  
    line-height: 18px;    
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: normal;
    padding: 4px 0;
    border: none;
}

.footer-link{
    display:inline-block;
    color: #FFFFFF;
    font-family: 'Roboto';
    line-height: 19px;    
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    transition: 0.5s;
}
.footer-right{
    display: flex;    
} 
.mr{
    margin-right: 68px;
}
.footer-link:hover{
    color: #d57300;
}

/* MEDIA START */

@media(max-width: 1050px) {
    .main-cards {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .main-card {
        margin-right: 10px;
    }
    .nav {
        justify-content: space-around;
    }
}
@media(max-width: 760px) {
    .nav {
        flex-wrap: wrap;
        padding-top: 10px;
    }
}

/* MEDIA END */